body{

}

.mynav{
    background-color: #2ec4b6;
    border: 1px solid #2ec4b6 ;

    border-radius: 0;
    margin: 0;
}
.side-nav {
    background-color: #f2f2f2;
    height: 900px;
    padding: 0!important;
}
.side-nav .links a {

    padding: 30px 0px;
    display: block;
    color: #2ec4b6;
    font-size: 23px;
    font-weight: bold;
    text-align: center;

}
.side-nav .links a:hover{
    background-color: #2ec4b6;
    color: #ffffff;
    text-decoration: none;
}

.main-wrapper .urls{
    padding: 30px;
}

.main-wrapper .urls thead{
    border: 1px solid #2ec4b6;
    background-color: white;
}

.main-wrapper .urls tbody{
    background-color: #2ec4b6;
    color: white;
}
